.main {
    font-family: "微软雅黑";
    position: fixed;
    width: 100%;
    height: 100%;
}

.navbar-header {
    width: 100%;
    height: 70px;
    background-color: #262438;
    color: #fff;
    font-family: 'PingFangSC-Regular';
    font-size: 14px;
}

.navbar-header .logo-img img {
    float: left;
    width: 95px;
    margin-left: 6px;
    margin-right: 38px;
    padding-top: 15px;
}


/*
.navbar-header .search {
    float: left;
    padding-top: 24px;
}

.navbar-header .search-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -6px;
}

.navbar-header .search-input {
    background-color: #262438;
    color: #fff;
    border: none;
    outline: none;
    padding-left: 10px;
}

.navbar-header .search-input::-moz-placeholder {
    color: #8C8DA9;
    ;
    opacity: 1
}

.navbar-header .search-input::-ms-input-placeholder {
    color: #8C8DA9;
}

.navbar-header .search-input::-webkit-input-placeholder {
    color: #8C8DA9;
}
*/

.navbar-header .user-info {
    float: right;
    margin-right: 64px;
    padding-top: 26px;
}

.navbar-header .user-info .notice {
    float: left;
    position: relative;
    margin-right: 27px;
    cursor: pointer;
}

.navbar-header .user-info .notice .notice-img {
    width: 16px;
    height: 19px;
    display: inline-block;
}

.navbar-header .user-info .notice .num {
    width: 10px;
    height: 10px;
    background: rgba(255, 9, 25, 1);
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

.navbar-header .user-info .username {
    float: left;
    margin-right: 17px;
}

.navbar-header .user-info .avatar-box {
    float: left;
    cursor: pointer;
}

.navbar-header .user-info .avatar {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: aquamarine;
    margin-right: 10px;
    margin-top: -7px;
}

.navbar-header .user-info .dropdown-icon {
    width: 10px;
    height: 5px;
    display: inline-block;
}

.navbar-header .user-info .menu {
    width: 100px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    box-shadow: 1px 1px 3px #888;
    position: absolute;
    top: 70px;
    right: 40px;
}

.navbar-header .user-info .menu ul li a {
    line-height: 40px;
    color: #333;
}

.main .row-content {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 70px;
    left: 0;
    bottom: 0;
}

.left-navbar {
    max-width: 100px;
    height: 100%;
    padding-top: 30px;
    position: fixed;
    left: 0;
    top: 70px;
    background-color: #EAEAF4;
    font-size: 14px;
}

.left-navbar ul li a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}

.left-navbar .active {
    background-color: #fff;
}

.right-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 100px;
    overflow-y: auto;
}