<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <li>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
  </li>
</ul>
<a routerLink="/personal-center" routerLinkActive="active">个人中心</a>
<a routerLink="/stock" routerLinkActive="active">這裡是股票中心</a>
<a routerLink="/home" routerLinkActive="active">這裡是首頁</a>
<a routerLink="/class-list" routerLinkActive="active">這裡是班级列表</a>
<a routerLink="/competition-list" routerLinkActive="active">這裡是竞赛列表</a>

<p>
  <ngb-alert type="success" [dismissible]=false >
    <strong>Waring</strong>
  </ngb-alert>
</p>
<p>
  <ngb-tabset>
    <ngb-tab title="选项一">
      <ng-template ngbTabContent>
        选项卡一的内容
      </ng-template>
    </ngb-tab>
    <ngb-tab title="选项二">
      <ng-template ngbTabContent>
        选项卡二的内容
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</p>
<div ngbDropdown >
  <button class="btn btn-outline-primary" id="a" ngbDropdownToggle>喜欢的颜色</button>
  <div ngbDropdownMenu aria-labelledby="a">
    <button class="dropdown-item">红色</button>
    <button class="dropdown-item">蓝色</button>
    <button class="dropdown-item">绿色</button>
  </div>
</div>
<div ngbDropdown >
    <button class="btn btn-outline-primary" id="b" ngbDropdownToggle>喜欢的水果</button>
    <div ngbDropdownMenu aria-labelledby="a">
      <button class="dropdown-item">苹果</button>
      <button class="dropdown-item">香蕉</button>
      <button class="dropdown-item">橙子</button>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-3 col-md-3 col-lg-3">
      asdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgs
      nfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasd
      hfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfg
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        asdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgs
        nfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasd
        hfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfg
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        asdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgs
        nfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasd
        hfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfg
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        asdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgs
        nfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasd
        hfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfg
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="col-sm-3 col-md-3 col-lg-3">
          asdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgs
          nfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasd
          hfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfg
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
          asdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgs
          nfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasd
          hfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfgasdhfhgsdbfndsfbgsnfhmfhnfg
      </div>
    </div>

  <table class="table">
    <tr>
      <th>01</th>
      <th>02</th>
      <th>03</th>
      <th>04</th>
      <th>05</th>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <td>111</td>
      <td>222</td>
      <td>333</td>
      <td>444</td>
      <td>555</td>
    </tr>
  </table>
<br>
<br>



<router-outlet></router-outlet>

