<div class="main">
    <div class="container-fluid col-padding-0">
        <div class="navbar-header">
            <a class="logo-img" href="javascript:">
                <img src="./assets/images/logo.png" alt="">
            </a>
            <div class="search">
                <img class="search-icon" src="./assets/images/icon/search-icon.png" alt="">
                <input type="text" class="search-input" placeholder="请输入内容搜索" maxlength="30">
            </div>
            <div class="user-info">
                <div class="notice">
                    <img src="./assets/images/icon/notice-icon.png" alt="" class="notice-img">
                    <span class="num">1</span>
                </div>
                <div class="username">你好，王姑娘</div>
                <div class="avatar-box" (click)="showMenuList=!showMenuList">
                    <div class="avatar"></div>
                    <img src="./assets/images/icon/dropdown-icon.png" alt="" class="dropdown-icon">
                </div>
                <div class="menu" *ngIf="showMenuList">
                    <ul>
                        <li><a href="javascript:">编辑资料</a></li>
                        <li><a href="javascript:" routerLink="/personal-center">个人中心</a></li>
                        <li><a href="javascript:" routerLink="/login">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-content">
            <div class="row">
                <div class="col-xs-1 col-md-1 col-lg-1 col-padding-0 left-navbar">
                    <ul>
                        <li>
                            <a routerLink="/personal-center" routerLinkActive="active">个人中心</a>
                        </li>
                        <li>
                            <a routerLink="/stock" routerLinkActive="active">股票中心</a>
                        </li>
                        <li>
                            <a routerLink="/task-list" routerLinkActive="active">任务列表</a>
                        </li>
                        <li>
                            <a routerLink="/competition-list" routerLinkActive="active">竞赛列表</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>